# Heavy Azure Kinect Body Tracking SDK
cublas64_100.dll
cudart64_100.dll
cudnn64_7.dll
dnn_model_2_0.onnx
onnxruntime.dll


# Windows
Thumbs.db
Desktop.ini

# macOS
.DS_Store

# Code Editors
/.idea
/.vscode
/*.csproj
/*.sln
*.swp
*.vcxproj.user

# Unity
/Library
/Logs
/Temp
